
 @import "bootstrap/scss/bootstrap";

 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import "@fortawesome/fontawesome-free/scss/fontawesome";
 @import "@fortawesome/fontawesome-free/scss/regular";
 
div.field_with_errors {
  display: contents;
  input {
    border: 2px solid red;
  }
}
.header{
  text-align: center;
}
pre{
  border: 2px dashed rgb(213, 213, 244);
  background-color: rgb(236, 236, 250);
}
.content{
  max-width: 1000px;
  margin: 0px auto;
}
.title{
  border-bottom: 2px solid rgb(198, 191, 191);
}
code{
  background-color: rgb(245, 210, 216);
}